#body-up {
        background: #f7f6f2 url(https://avatars.mds.yandex.net/get-pdb/1623506/29ac3087-3064-47ef-9fad-aabc43972b3e/s1200);
        color: #000;
        background-repeat: repeat;
        background-size: cover;
    }
    nav {
    background: no-repeat url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQEgV4FxErzsPuJxagmDV9F8W-gkQdG1Ge866m1oCuNrYF6zQWg&usqp=CAU");
    background-size: 100%;
    height: 60px;
   }
   #sechead {
    position: relative;
    margin-bottom: -1px;
	height: 40px;
	clear:both;
    left: 0; bottom: 0;
    padding: 10px;
    background: #39b54a;
    color: #fff00;
    width: 100%;
   }
   footer {
        position: fixed;
        left: 0; bottom: 0;
        width: 99.3%;
        color: #fff
        float: left;
        opacity: 2.5;
        margin-bottom: 3px;
    }
    footer #rights {
        float: right;
        width: 50%;
        text-align: right;
        font-size: 1.1em;
    }
    footer #social {
        float: left;
        width: 50%;
    }
    footer #social img {
        width: 27px;
        height: 27px;
        float: left;
        margin-right: 5px;
        margin-bottom: 0px;
    }
     .forfoot {
                margin-top: 110px;
                width: 100%;
                margin-bottom: -50px;
                height: 50px;
                text-align: center;
                opacity: 2;
            }
            forfoot #fortext {
                text-align: center;
                margin-right: 20px;
                margin-top; 10px;
            }
            forfoot #second {
                text-align: right;
                margin-right: 20px;
                margin-top: 10px;

            }
            forfoot #third {
                text-align: left;
                margin-right: 20px;
                margin-top: 10px;
            }
            forfoot #soc {
                float: left;
                width: 50%;
            }
            forfoot #soc img {
                width: 15px;
                height: 15px;
                margin-right: 5px;
                margin-bottom: 0px;
                margin-left: 50%;
                margin-right: 50%;
            }
            #tor {
                width: 35px;
                height: 35px;
                margin-right: 15px;
                text-align: center;
            }
            #sector {
               width: 35px;
               height: 35px;
               margin-right: 15px;
               text-align: center;
            }
            #thitor {
                width: 35px;
                height: 35px;
                text-align: center;
            }
            #sector2 {
               width: 35px;
               height: 35px;
               margin-right: 15px;
            }
            #thitor2 {
                width: 35px;
                height: 35px;
            }
     * {
      box-sizing: border-box;
    }
    .border {
      width: 300px;
      margin: 0 auto;
      background: white;
      padding: 20px;
      border: 1px solid #F1E7E8;
    }
    .wrap {
      height: 100%;
      position: relative;
     }
    .product-wrap {
      position: relative;
    }
    .product-wrap:after {
      content: '';
      background: rgba(73, 102, 162, .5);
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      z-index: 2;
      opacity: 0;
      transform: scale(.3);
      transition: .3s ease-in-out;
    }
    .border:hover .product-wrap:after {
      opacity: 1;
      transform: scale(1);
    }
    .product-wrap a {
      display: block;
      text-decoration: none;
    }
    .product-wrap img {
      display: block;
      width: 100%;
    }
    .loop-action {
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 3;
      opacity: 0;
      transform: translate(-50%, -50%);
      transition: .3s ease-in-out;
    }
    .border:hover .loop-action {
      opacity: 1;
    }
    .loop-action a {
      text-decoration: none;
      display: block;
      border: 1px solid white;
      white-space: nowrap;
      text-transform: uppercase;
      padding: .5em 1em;
      font-size: 14px;
      line-height: 1.6;
      outline: none;
      position: relative;
      overflow: hidden;
      z-index: 4;
      text-align: center;
      color: white;
      min-width: 160px;
      margin: 5px auto;
      transition: .3s ease-in-out;
    }
    .loop-action a:after {
      content: '';
      position: absolute;
      left: -220%;
      top: -500%;
      width: 140%;
      height: 1000%;
      transform: rotate(45deg);
      background: white;
      z-index: -1;
      transition: .3s ease-in-out;
    }
    .loop-action a:hover {
      color: black;
    }
    .loop-action a:hover:after {
      left: 0%;
    }
    .border:hover {
      border-color: #4966A2;
    }
    .product-info {
      padding-top: 15px;
    }
    .product-title {
      font-weight: normal;
      font-family: "Open Sans";
      color: #162546;
      font-size: 18px;
    }
    .price {
      font-family: "Open Sans";
      color: #162546;
      font-style: italic;
      font-weight: bold;
    }
    element.style {
        width: 800px;
        }
    form.login_form {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    max-width: 400px;
    background-color: #ffcc00;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    }
