#body-ups {
        background: #f7f6f2 url(https://avatars.mds.yandex.net/get-pdb/1623506/29ac3087-3064-47ef-9fad-aabc43972b3e/s1200);
        color: #000;
        background-repeat: repeat;
    }
     #fromm {
        margin-top: 50%;
        margin-right: 50%;
    }
