{% extends "base.html" %}

{% block content %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href={{fun}}/>
    <title>Корзина</title>
</head>
<body>
<style>
    .colortext {
     color: brown;
   }
   #third {
       text-align: center;
   }
</style>
<h1><span class="colortext" id="third">Ваша корзина</span></h1>
{% if len_books == 0 %}
<div class="alert alert-success" role="alert">
    Здесь будут храниться все добавленные Вами товары
</div>
{% else %}
{% for i in books %}
<section>
    <div class="border">
        <div class="wrap">
            <div class="product-wrap">
                <a href=""><img src="static/img/{{i.image}}.jpg"></a>
            </div>
            {% if i.amount != 0 %}
            <div class="loop-action">
                <form>
                    <span id=i.id><a class="loop-add-to-cart" href="/order/{{i.id}}">Оформить</a></span>
                </form>
            </div>
            {% endif %}
        </div>
        <style>
         .colortext_2 {
         color: red; /* Красный цвет выделения */
         }
        </style>
        {% if i.amount == 0 %}
        <h3><span class="colortext_2">Нет на складе</span></h3>
        {%endif%}
        <div class="product-info">
            <h3 class="product-title">Название: {{i.title}}</h3>
            <a href="/deletes/{{i.id}}" class="btn btn-danger">Удалить</a>
            <h4 class="price">{{i.cost}} рублей</h4>
            <h5 class="amount">Кол-во: {{i.amount}}</h5>
            <h6 class="description">Описание: {{i.description}}</h6>
            <div class="genre">{{i.genre}}</div>
        </div>
    </div>
</section>
{% endfor %}
{% endif %}
<style>
    #flash {
        margin-bottom: 25px;
        }
</style>
<style>
    #forma {
        margin-top: 50%;
        margin-right: 50%;
    }
    #one {
        text-align: center;
    }
    #two {
        text-align: center;
    }
</style>
{% if len_books != 0 %}
<form id="flash">
    <span id="text"><a class="btn btn-success" id="one" href="/order/0">Оформить все</a></span>
</form>
{% endif %}
{% if len_books == 0 %}
<a>Ваша корзина пуста!</a>
<form id="forma">
    <span><a class="btn btn-success" href="/">К товарам</a></span>
</form>
{% endif %}
</body>
{% endblock %}
