{% extends "base.html" %}

{% block content %}
<link href="static/css/mainp.css" type="text/css" rel="stylesheet">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{  url_for('static', filename='css/style2.css') }}">
    <title>{{title}}</title>
    <style>
    BODY { font: 10pt Arial, Helvetica, sans-serif; }
   #catalog DIV {
    margin: 0 0px 0px 0; /* Отступы */
    text-align: center; /* Выравнивание по центру */
    display: inline-block; /* Строчно-блочный элемент */
    vertical-align: top; /* Выравнивание по верхнему краю */
   }
    </style>
</head>
<body id="b-up">
<div>
    <form name="filt" method="post" id="form">
        <div class="form-group" id="filt2">
            <a><big><big>Поиск книги</big></big></a>
            <p id="search_title"><input type="search" name="search_title" id="w1" placeholder="Название книги"
                                        value="{{book_title}}">
            <p id="search_name"><input type="search" name="search_name" id="w2" placeholder="Имя продавца"
                                       value="{{book_name}}">
            <p><label for="filt_genre" id="ids"><big><big><big><big></big></big></big></big></label>
                <a><big><big>Выберите Жанр</big></big></a>
                <select class="form-control" id="filt_genre" name="filt_genre">
                    <option>Все</option>
                    <option>Научная фантастика</option>
                    <option>Детская</option>
                    <option>Роман</option>
                    <option>Школьная литература</option>
                    <option>Научная литература</option>
                    <option>Образование</option>
                    <option>Деловая литература</option>
                    <option>Наука и техника</option>
                    <option>Психология</option>
                    <option>Философия и религия</option>
                    <option>Искусство</option>
                    <option>Книги на иностранных языках</option>
                </select></p>
        </div>
        <div class="form-group" id="filt3">
            <p>
                <a><big><big>Цена книги</big></big></a>
                <input type="number" name="min_cost" id="min_cost" placeholder="Минимальная цена"
                       value="{{book_min}}">
                <input type="number" name="max_cost" id="max_cost" placeholder="Максимальная цена"
                       value="{{book_max}}">
            </p>
            <p>
                <a><big><big>Сортировка</big></big></a>
                <select class="form-control" id="sort" name="sort">
                    <option>Сначала старые</option>
                    <option>Сначала новые</option>
                    <option>Цена по возрастанию</option>
                    <option>Цена по убыванию</option>
                </select>
            </p>
        </div>
        <div class="form-group" id="filtbutt">
            <p><label></label>
                <input class="btn btn-primary" type="submit" value="Найти книгу"></p>
        </div>
    </form>
</div>
<div class="container" id="body" style="width: 500px;">
    <header class="clearfix"></header>
    <h1 id="h1">Наши книги </h1>
    <article>
        {% if len_book == 0 %}
        <div class="alert alert-success" role="alert">
            Нет товаров, удовлетворяющих поиску
        </div>
        {% endif %}
        {% for i in books %}
        <div class="row">
            <div class="col-sm">
                <section>
                    <div class="border">
                        <div class="wrap">
                            <div class="product-wrap">
                                <a href=""><img src="static/img/{{i.image}}.jpg"></a>
                            </div>
                            {% if current_user.is_authenticated %}
                            <div class="loop-action">
                                <a href="/add/{{i.id}}" class="loop-add-to-cart">В корзину</a>
                            </div>
                            {% else %}
                            <div class="loop-action">
                                <a href="/login" class="loop-add-to-cart">В корзину</a>
                            </div>
                            {% endif %}
                        </div>
                        <div class="product-info">
                            <h3 class="product-title">Название: {{i.title}}</h3>
                            <a class="btn btn-success" href="/profile/{{i.user.id}}">{{i.user.name}}</a>
                            <h4 class="price">{{i.cost}} рублей</h4>
                            <h5 class="amount">Кол-во: {{i.amount}}</h5>
                            <h6 class="description">Описание: {{i.description}}</h6>
                            <div class="genre">{{i.genre}}</div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        {% endfor %}
    </article>
</div>
</body>
{% endblock %}
