{% extends "base.html" %}

{% block content %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href={{fun}}/>
    <title>{{title}}</title>
</head>
<body id="b-up">
<style>
    #fromm {
        margin-top: 50%;
        margin-right: 50%;
    }
</style>
<div class="container">
    <header class="clearfix">
        <p>
        <h2>Имя пользователя: {{user.name}} </h2>
        {{user.created_date}}
        </p>
        <h6>e-mail: {{user.email}} </h6>
        {% if current_user.id == user.id %}
        <h1>Продаваемые Вами книги </h1>
        {% if len_books == 0 %}
            <h5>Вы не выставили ни одной книги на продажу</h5>
            <form id="fromm">
                <span><a class="btn btn-success" href="/sell">Продать книгу</a></span>
            </form>
        {% endif %}
        {% else %}
        <h1>Книги пользователя {{user.name}} </h1>
        {% if len_books == 0 %}
            <h5>Этот пользователь не выставил ни одной книги на продажу</h5>
        {% endif %}
        {% endif %}
        {% for i in user.books %}
        <section>
            <div class="border">
                <div class="wrap">
                    <div class="product-wrap">
                        <a href=""><img src="/static/img/{{i.image}}.jpg"></a>
                    </div>
                    {% if current_user.is_authenticated %}
                    <div class="loop-action">
                        <a href="/add/{{i.id}}" class="loop-add-to-cart">В корзину</a>
                    </div>
                    {%else%}
                    <div class="loop-action">
                        <a href="/login" class="loop-add-to-cart">В корзину</a>
                    </div>
                    {% endif %}
                </div>
                <div class="product-info">
                    <h3 class="product-title">Название: {{i.title}}</h3>
                    {% if current_user.id == user.id %}
                    <div>
                        <a href="/delete/{{i.id}}" class="btn btn-danger">Удалить</a>
                        <a href="/change/{{i.id}}" class="btn btn-warning">Изменить</a>
                    </div>
                    {% endif %}
                    <h4 class="price">{{i.cost}} рублей</h4>
                    <h5 class="amount">Кол-во: {{i.amount}}</h5>
                    <h6 class="description">Описание: {{i.description}}</h6>
                    <div class="genre">{{i.genre}}</div>
                </div>
            </div>
        </section>
    </header>
</div>
</body>
{% endfor %}
{% endblock %}
