{% extends "base.html" %}

{% block content %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href={{fun}}/>
    <style>
   .text {
    text-align:  center;
   }
    
    </style>
    <div class="text">
        <p><big><big><big><big>Продажа книги</big></big></big></big></p>
    </div>
</head>
<body>
<div>
    <form class="login_form" method="post" enctype="multipart/form-data">
        <input type="text" class="form-control" id="title" placeholder="Название книги" name="title">
        <div class="form-group">
            <label for="description">Описание книги</label>
            <textarea class="form-control" id="description" rows="3" name="description"></textarea>
        </div>
        <div class="form-group">
            <label for="contacts">Способы покупателя связаться с вами</label>
            <textarea class="form-control" id="contacts" rows="3" name="contacts"></textarea>
        </div>
        <div class="form-group">
            <label for="cost">Цена книги</label>
            <input type="number" min="1" class="form-control" id="cost" placeholder="Цена книги" name="cost">
        </div>
        <div class="form-group">
            <label for="amount">Количество товара</label>
            <input type="number" min="1" class="form-control" id="amount" placeholder="Количество товара" name="amount">
        </div>
        <div class="form-group">
            <label for="genre">Жанр Вашей книги</label>
            <select class="form-control" id="genre" name="genre">
                <option>Научная фантастика</option>
                <option>Детская</option>
                <option>Роман</option>
                <option>Школьная литература</option>
                <option>Научная литература</option>
                <option>Образование</option>
                <option>Деловая литература</option>
                <option>Наука и техника</option>
                <option>Психология</option>
                <option>Философия и религия</option>
                <option>Искусство</option>
                <option>Книги на иностранных языках</option>
            </select>
        </div>
        <div class="form-group">
            <label for="photo">Фотография Вашей книги</label>
            <input type="file" class="form-control-file" id="photo" name="photo">
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="accept" name="accept">
            <label class="form-check-label" for="accept">Я подтверждаю, что вся информация введена правильно</label>
        </div>
        <button type="submit" class="btn btn-primary">Выставить на продажу</button>
    </form>
</div>
</body>

{% endblock %}
